body {
  min-width: 630px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
}
#container {
  padding-left: 200px;   /* LC width */
  padding-right: 190px; /* RC fullwidth + CC padding */
}
#container .column {
  position: relative;
  float: left;
}
#center {
  padding: 10px 20px;    /* CC padding */
  width: 100%;
}
#left {
background:rgba(0,0,20,0.3);
  width: 180px;        /* LC fullwidth - padding */
  padding: 0 10px;
  right: 240px;          /* LC width */
  margin-left: -100%;
}
#right {
background:rgba(0,0,20,0.3);
  width: 130px;          /* RC width */
  padding: 0 10px;       /* RC padding */
  margin-right: -190px;  /* RC fullwidth + CC padding */
}
#footer {
  clear: both;
}
/*** IE6 Fix ***/
* html #left {
  left: 150px;           /* RC width */
}



.div {
	width: 90%;
	height: auto;
}

.div2 {
	width:  95%;
	height: auto;
}

.div3 {
	background:rgba(0,0,20,0.3);
	float: left;
	width:  40%;
	height: auto;
}

.tab{
	width: 100%;
	height: auto;
}

.tab_knop{
	width: 100%;
	height: auto;
}

.td_knop{
	width: 33%;
	height: auto;
}

.knopa {
	background:rgba(0,0,0,0);
	width: 80%;
	height: 80%;
	margin: 5px 5px 5px 5px;
	border: 0px; 
	cursor: pointer;
}
	
/* Цвет фона формы, с уровнем прозрачности */
.tab_block {
	background:rgba(0,0,255,0.5);
	width: 100%;
	height: auto;
}
	
/* Текс по центру светлым цветом */
.block-text {
	text-align: center;
	color: #f0f000;
	width: 100%;
	height: 100%;
}
	
h1 {
	font-size: 400%;
	text-align: center;
}
	
h2 {
	font-size: 350%;
	text-align: center;
}
	
h3 {
	font-size: 300%;
	text-align: center;
}
	
h4 {
	font-size: 250%;
	text-align: center;
}

p {
	font-size: calc(5px + 4vw); /*1em - 16px, 1vw - 1% width screen,*/
	text-align: left;
}

img {
	float: left;
	width: auto;
	height: calc(10% + 20vw);    
}
	
.select{
	border:2px solid #abb1c2;		
	width:250px;
	height:100px;		
	font-size: 30pt;
	text-align: center;
}
	
.textarea {
	background: #f0f0f0;
	border:1px solid #abb1c2;		
	width:75%;
	height:400px;		
	font-size: 30pt;
	text-align: center;
}
		
.input {
	background: #f0f0f0;
	border:1px solid #abb1c2;		
	width:90%;
	max-width:500px;
	height:100px;		
	font-size: 30pt;
	text-align: center;
}
	
.input_file {
	border:2px solid #abb1c2;		
	width:82%;
	max-width:630px;
	height:100%;		
	font-size: 30pt;
	text-align: center;
}
	
.input_submit {
	border:2px solid #abb1c2;		
	width:90%;
	max-width:500px;
	height:100px;		
	font-size: 30pt;
	text-align: center;
}

/* Растяжение фото по всей кнопке */
.knopa_img {
	width: 100%;
	height: 100%;
}	
	
/* Фото на основном фоне */
.fon-img {
background:url(/site/photo/fon.jpg) top center;
width: 100%;
height: 100%;
}

/* Фото на фоне заголовка background:url(/site/photo/head0.jpg) no-repeat top center;*/
.block-img {
width: 100%;
height: 200px;
}

.pub_key {
	background: #f0f0f0;
	border:1px solid #abb1c2;		
	width:80%;
	height:auto;		
	font-size: 30pt;	
}

strong {
	background:rgba(0,0,255,0.3);
}

.button {
	border:2px solid #abb1c2;		
	width:250px;
	height:70px;		
	font-size: 30pt;
	text-align: center;
}
























.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}




/* НЕ ИСПОЛЬЗУЮТСЯ ПОКА */
/* Отступы во круг блока (верх, право, низ, лево) */
.margin-block {
margin: 20px 50px 30px 50px;
}
/* Отступы внутри блока (верх, право, низ, лево) */
.padding-block {
padding: 20px 50px 30px 50px; 
}
.table {
    display: block;
    width: 100%;	
    overflow-x: scroll;  
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}