@charset "utf-8";

@font-face {
    font-family: 'mr_InsulaG'; /* font name */
    src: url('/site_pzm/fonts/mr_InsulaG.ttf'); /* URL to font */
}
@font-face {
	font-family: 'RussianSuvenir'; /* font name */
    src: url('/site_pzm/fonts/RussianSuvenir.ttf'); /* URL to font */
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

html, body {
	height: 100%;	
}

html {
	margin-top: -20px;		
}

iframe {
	max-width: 100%;
	float: left;
}

a, *:hover {
	text-decoration: none;
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

body {
	background-color: #ececee;
	width: 100%;
	float: left;
}

/* -------------------------------
Выделение текста
----------------------------------*/

::selection {background: #6accd7; color: #fff;}
::-moz-selection {background: #6accd7; color: #fff}

/* -------------------------------
		Шапка сайта
----------------------------------*/

header {
	width: 98%;
	float: left;
	background-color: #3e3e3f;
	padding: 0.5% 1%;
	
/*	border-width: 5px;
	border-style: solid; 
	border-color: green;*/
	
	border-bottom: 5px solid #525252;	
}

header a#logo span {
	font-size: 1.3em;
}

header #logo {
	text-shadow: 1px 1px 2px #e0e0e0, 0 0 2em white;
}

@media (min-width: 640px){
header span#contact {
	float: right;
	width: 40%;
	margin-right: 20%;
	font-family: Times New Roman, sans-serif
}
header a#logo {
	font-family: 'mr_InsulaG';
	font-size: 1.7em;
	color: white;
	float: left;
	width: 25%;
	margin-left: 15%;
}}

@media (max-width: 639px) and (min-width: 350px){
header span#contact {
	float: right;
	width: 40%;
	margin-right: 8%;
	font-family: Times New Roman, sans-serif
}
header a#logo {
	font-family: 'mr_InsulaG';
	font-size: 1.7em;
	color: white;
	float: left;
	width: 25%;
	margin-left: 8%;
}}

@media (max-width: 349px) and (min-width: 311px){
header span#contact {
	float: right;
	width: 40%;
	margin-right: 5%;
	font-family: Times New Roman, sans-serif
}
header a#logo {
	font-family: 'mr_InsulaG';
	font-size: 1.7em;
	color: white;
	float: left;
	width: 25%;
	margin-left: 5%;
}}

@media (max-width: 310px){
header span#contact {
	float: right;
	width: 40%;
	margin-right: 2%;
	font-family: Times New Roman, sans-serif
}
header a#logo {
	font-family: 'mr_InsulaG';
	font-size: 1.7em;
	color: white;
	float: left;
	width: 25%;
	margin-left: 2%;
}}

header span#contact a {
	color: yellow;
	float: right;
	margin-left: 10%;
	font-size: 1.4em;
	line-height: 50px;
}

header span#contact a:hover {
	color: #e0e0e0;
}

nav {
	width: 98%;
	float: left;
	background-color: #ffffff;
	padding: 0 1% 0.7% 1%;
	
	border-bottom: 4px solid #e0e0e0;
}

@media (min-width: 720px){
nav a:first-child, nav#fixed a:first-child {
	margin-left: 12%; 
	border-top: 5px solid #6accd7;
}
nav a, nav#fixed a {
	border-top: 5px solid rgba(255,255,255,0);
	padding: 0.5% 1% 0 1%;
	float: left;
	margin-right: 4%;
	font-family: Times New Roman, sans-serif;
	font-size: 1.4em;
	color: #686869;
}}

@media (max-width: 719px){
nav a:first-child, nav#fixed a:first-child {
	margin-left: 4%; 	
}
nav a, nav#fixed a {	
	padding: 0.5% 1% 0 1%;
	float: left;
	margin-right: 4%;
	font-family: Times New Roman, sans-serif;
	font-size: 1.4em;
	color: #686869;
}}

/* nav a:nth-child(2) {} */

nav#fixed {
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,0.87);
	border-color: rgba(224,224,224,0.87);
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

nav#fixed:hover {
	background-color: #fff;
}

nav a:hover, nav#fixed a:hover {
	border-top: 5px solid #6accd7;
	color: #8c8c8c;
	text-shadow: 1px 1px 2px grey, 0 0 1em grey;
}

#slideMenu {
	float: left;
	color: rgba(255,255,255,0);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* -------------------------------
		Основная часть сайта
----------------------------------*/

#wrapper {
	width: 86%;
	margin-left: 7%;
	float: left;
}

/* Для фиксации футера в подвале */
body {
	-webkit-display: flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
#wrapper {
	flex-grow: 1;
}

/* Для переноса длинного текста */
#wrapper {
	-webkit-hyphens: auto; 
	-moz-hyphens: auto; 
	-ms-hyphens: auto;
	hyphens: auto; 
	word-wrap: break-word;
}

/* --------------------------------
		Верхняя часть контента
-----------------------------------*/

#wrapper #TopColPhoto, #wrapper #TopColText  {	
	float: left;
	margin-bottom: 20px;
}

@media (min-width: 690px) {
#wrapper #TopColPhoto {
/*	width: 30%;*/
	width: 200px;
	height: 200px;
	margin-right: 2%;
}
#wrapper #TopColText {
/*	width: 68%;*/
	width: calc(98%-205px);
	height: 200px;
}}

@media (max-width: 689px) {
#wrapper #TopColPhoto {
/*	width: 25%;*/
	width: 150px;
	height: 150px;
	margin-left: 5%;
	margin-right: 2%;
}
#wrapper #TopColText {
/*	width: 63%;*/
	width: calc(93%-155px);
	height: 150px;
}}

#TopColPhoto article {
	width: 100%;
	float: left;		
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#TopColText article {
	height: 100%;
	width: 100%;
	background-color: #fff;	
	float: left;	
	border-radius: 5px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#TopColPhoto img {
	width: 200px;
	height: 200px;
	float: left;
}

#TopColText  h1 {
	font-size: 2em;
	font-family: 'RussianSuvenir';
	color: #3e3e3f;
	width: 90%;
	margin: 5%;
	float: left;
}

#TopColText span {
	color: #7c7c7c;
}


/* -------------------------------
		Левая часть сайта
----------------------------------*/

#support div, #o_prizmarket div{
	width: 90%;
	margin: 5%;
	float: left;
}
#support h1 b, #o_prizmarket h1 b{
	color: blue;
}
#support h3 b{
	color: green;
}
#o_prizmarket h3 b{
	color: red;
}

@media (min-width: 690px) {
#wrapper #leftCol {
	width: 65%;
	margin-right: 7%;
	float: left;
}}

@media (max-width: 689px) {
#wrapper #leftCol {
	width: 90%;
	margin-left: 5%;
	float: left;
	margin-bottom: 20px;
}}

#leftCol article {
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	float: left;
	
	border-radius: 5px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#leftCol article:last-child {margin-bottom: 0}

#leftCol article img {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#leftCol article h2 {
	font-size: 1.2em;
/*	font-family: 'mr_InsulaG';*/
	color: #3e3e3f;
	width: 90%;
	margin-left: 5%;
	float: left;
}

#leftCol article p {
	font-size: 1em;
	font-family: Times New Roman, sans-serif;
	color: #3e3e3f;
	width: 86%;
	margin: 2% 7%;
	float: left;
}

#leftCol article a {color: #6accd7; font-size: 1.2em}
#leftCol article a:hover {color: #647f82}

#leftCol article span {
	float: right;
	color: #7c7c7c;
}

/* -------------------------------
		Правая часть сайта
----------------------------------*/

@media (min-width: 690px) {
#wrapper #rightCol {
	width: 28%;
	float: left;
}}

@media (max-width: 689px) {
#wrapper #rightCol {
	width: 80%;
	margin-left: 10%;
	float: left;
}}

#rightCol article {
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	float: left;
	
	border-radius: 10px;	
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#rightCol article:last-child {margin-bottom: 0}

#rightCol article img {
	width: 94%;
	margin: 3%;
	float: left;
	margin-bottom: 10px;
}

#rightCol article p {
	font-size: 1em;
	font-family: Times New Roman, sans-serif;
	color: #3e3e3f;
	width: 86%;	
	float: left;
	margin: 10px;
}

#rightCol article a {color: #6accd7; font-size: 1.2em}

#rightCol article a:hover {color: #647f82}

#rightCol article span {
	float: left;
	margin: 3%;
	color: #7c7c7c;
	margin-bottom: 10px;
}


/* не используется */
#rightCol .banner {
	width: 100%;
	float: left;
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}
#rightCol .banner:last-child {margin-bottom: 0}
#rightCol .banner input#search {
	float: left;
	width: 88%;
	font-size: 1em;
/*	font-family: 'mr_InsulaG';*/
	background-color: #d4d4d4;
	border: 0;
	outline: none;
	padding: 3% 4%;
	margin: 3% 2%;
	color: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#rightCol .banner span {
	font-size: 1em;
/*	font-family: 'mr_InsulaG';*/
	color: #3e3e3f;
	line-height: 450%;
} 
/* не используется */



/* -------------------------------
		Футер сайта
----------------------------------*/

footer {
	width: 98%;
	float: left;
	padding: 0.8% 1%;
	margin-top: 20px;
	background-color: #3e3e3f;

	margin-bottom: -20px;
	border-top: 5px solid #525252;	
}

footer div#rights {
	float: left;
	font-family: 'mr_InsulaG';
	color: white;
	width: 55%;
	margin-left: 5%;
	line-height: 35px;
}

footer div#social {
	float: right;
	width: 35%;
	margin-right: 5%;
}

footer div#social img {
	float: right;
	margin-right: 2%;
}
